/* You can add global styles to this file, and also import other style files */


.bg-image {
    background-image: url("assets/pexels-prometheus-design-12166061.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
